<h1><%= t(".header", title: @test_user.test.title) %></h1>

<p>  Количество правильных ответов: <%= @test_user.correct_questions%></p>

<p><%= @test_user.percentage_result %></p>


<p><%= render @test_user %></p>
<%= link_to "all_badge", badges_path %>
<%= link_to 'Back test', tests_path(@test_user.test) %>