 <nav class="navbar navbar-light by-light">
  <%= link_to t(".header"), root_path, class: 'navbar-brand' %>
  <span class="navbar-text"> 
    <% if user_signed_in? %>
      <%= t(".welcome", user: current_user.email  ) %> | 
      <% if current_user.admin? %>
        <%= link_to "Admin", admin_tests_path %>|
        <% end %>
      <%= link_to t(".logout"), destroy_user_session_path, method: :delete %>
      <%= link_to t(".feedback"), new_form_back_path %>
      <%= link_to "all_badge", badges_path %>
    <% else %>
      <%= link_to t(".log_in"), new_session_path(resource_name) %> | 
      <%= link_to t(".sign_up"), new_registration_path(resource_name) %> 
    <% end %>
  </span>
</nav>